<div class="root">
  <div class="calculadora">
    <div class="display">
      {{ operacion }}
    </div>
    <div class="botones">
      <app-boton-numero (click)="getElement($event)" [numero]="'1'"></app-boton-numero>
      <app-boton-numero (click)="getElement($event)" [numero]="'2'"></app-boton-numero>
      <app-boton-numero (click)="getElement($event)" [numero]="'3'"></app-boton-numero>
      <app-boton-numero (click)="getElement($event)" [numero]="'C'"></app-boton-numero>

      <app-boton-numero (click)="getElement($event)" [numero]="'4'"></app-boton-numero>
      <app-boton-numero (click)="getElement($event)" [numero]="'5'"></app-boton-numero>
      <app-boton-numero (click)="getElement($event)" [numero]="'6'"></app-boton-numero>
      <app-boton-numero (click)="getElement($event)" [numero]="'+'"></app-boton-numero>

      <app-boton-numero (click)="getElement($event)" [numero]="'7'"></app-boton-numero>
      <app-boton-numero (click)="getElement($event)" [numero]="'8'"></app-boton-numero>
      <app-boton-numero (click)="getElement($event)" [numero]="'9'"></app-boton-numero>
      <app-boton-numero (click)="getElement($event)" [numero]="'-'"></app-boton-numero>

      <app-boton-numero (click)="getElement($event)" [numero]="'&larr;'"></app-boton-numero>
      <app-boton-numero (click)="getElement($event)" [numero]="'0'"></app-boton-numero>
      <app-boton-numero (click)="getElement($event)" [numero]="'='"></app-boton-numero>
    </div>
  </div>
</div>
