<div class="root">
  <div class="calculadora">
    <div class="display">
      {{ operacion }}
    </div>
    <div class="botones">
      <button (click)="Sumar1()">1</button>
      <button (click)="Sumar2()">2</button>
      <button (click)="Sumar3()">3</button>
      <button (click)="Clear()">C</button>

      <button (click)="Sumar4()">4</button>
      <button (click)="Sumar5()">5</button>
      <button (click)="Sumar6()">6</button>
      <button (click)="Suma()">+</button>

      <button (click)="Sumar7()">7</button>
      <button (click)="Sumar8()">8</button>
      <button (click)="Sumar9()">9</button>
      <button (click)="Resta()">-</button>

      <button (click)="Delete()">&larr;</button>
      <button (click)="Sumar0()">0</button>
      <button id="igual" (click)="SumarAll()">=</button>
    </div>
  </div>
</div>
